<div class="questions-wrapper">
    <div id="question-1" class="questions-container">
        <div class="question">
            <div class="number left">1</div>
            <div class="left question-text">Through your work fighting for women's rights, you coined the
                term&nbsp;</div>
        </div>
        <div class="question-options">
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question1" value="1"/>

                    <div class="opt-desc">“Bread and roses&nbsp;</div>
                </div>
            </div>
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question1" value="2"/>

                    <div class="opt-desc">"Women for th win"</div>
                </div>
            </div>
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question1" value="3"/>

                    <div class="opt-desc">“Go to work”</div>
                </div>
            </div>
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question1" value="4"/>

                    <div class="opt-desc">“How long must women wait for liberty”</div>
                </div>
            </div>
        </div>
        <div class="alert alert-success hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div class="alert alert-danger hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div id="question-1-answer-container" class="hidden"><strong>Correct Option:</strong>

            <div id="question-1-answer">2</div>
        </div>
    </div>
    <div id="question-2" class="questions-container">
        <div class="question">
            <div class="number left">2</div>
            <div class="left question-text">You went college at:</div>
        </div>
        <div class="question-options">
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question2" value="1"/>

                    <div class="opt-desc">Vassar</div>
                </div>
            </div>
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question2" value="2"/>

                    <div class="opt-desc">Yalle</div>
                </div>
            </div>
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question2" value="3"/>

                    <div class="opt-desc">SUNY New Platiz</div>
                </div>
            </div>
            <div class="option">
                <div class="icon left">&nbsp;</div>
                <div class="desc left"><input type="radio" name="checkbox-question2" value="4"/>

                    <div class="opt-desc">Didn't go to college</div>
                </div>
            </div>
        </div>
        <div class="alert alert-success hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div class="alert alert-danger hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div id="question-2-answer-container" class="hidden"><strong>Correct Option:</strong>

            <div id="question-2-answer">3</div>
        </div>
    </div>
</div>
<div id="question-3" class="questions-container">
    <div class="question">
        <div class="number left">3</div>
        <div class="left question-text">Your mother</div>
    </div>
    <div class="question-options">
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question3" value="1"/>

                <div class="opt-desc">Masterminded events like Seneca Falls</div>
            </div>
        </div>
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question3" value="2"/>

                <div class="opt-desc">Emigrated from Poland and lived in the Lower East Side</div>
            </div>
        </div>
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question3" value="3"/>

                <div class="opt-desc">Didn’t think women should have the right to vote</div>
            </div>
        </div>
        <div class="alert alert-success hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div class="alert alert-danger hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div id="question-3-answer-container" class="hidden"><strong>Correct Option:</strong>

            <div id="question-3-answer">2</div>
        </div>
    </div>
</div>
<div id="question-4" class="questions-container">
    <div class="question">
        <div class="number left">4</div>
        <div class="left question-text">After working to win the vote for women in 1917, you</div>
    </div>
    <div class="question-options">
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question4" value="1"/>

                <div class="opt-desc">Ran for the New York State Assembly with the Socialist Party</div>
            </div>
        </div>
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question4" value="2"/>

                <div class="opt-desc">Ran for the US Senate with the Labor Party</div>
            </div>
        </div>
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question4" value="3"/>

                <div class="opt-desc">Ran for President</div>
            </div>
        </div>
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question4" value="4"/>

                <div class="opt-desc">Joined the Republican Party</div>
            </div>
        </div>
        <div class="alert alert-success hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div class="alert alert-danger hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div id="question-4-answer-container" class="hidden"><strong>Correct Option:</strong>

            <div id="question-4-answer">4</div>
        </div>
    </div>
</div>
<div id="question-5" class="questions-container">
    <div class="question">
        <div class="number left">5</div>
        <div class="left question-text">You advocated for the Equal Rights Amendment, which has still not passed</div>
    </div>
    <div class="question-options">
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question5" value="1"/>

                <div class="opt-desc">True</div>
            </div>
        </div>
        <div class="option">
            <div class="icon left">&nbsp;</div>
            <div class="desc left"><input type="radio" name="checkbox-question5" value="2"/>

                <div class="opt-desc">False</div>
            </div>
        </div>
        <div class="alert alert-success hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div class="alert alert-danger hidden">Labor activist Rose Schniederman coined the term “bread and roses” in a
            1911 speech, arguing that workers’ pay needed to meet basic needs (bread) and enable a life of dignity and
            beauty (roses). The phrase became a popular slogan in strikes, a poem, and a song.
        </div>
        <div id="question-5-answer-container" class="hidden"><strong>Correct Option:</strong>

            <div id="question-5-answer">1</div>
        </div>
    </div>
</div>