/**
*   TODO: Remove the un-necessary web fonts
*/

@font-face {
    font-family: 'Vitesse-Black';
    src: url('../common/fonts/custom/vitesse-black.eot');
    src: url('../common/fonts/custom/vitesse-black.eot?#iefix') format('embedded-opentype'),
    /*url('../common/fonts/custom/vitesse-black.woff2') format('woff2'),*/
    url('../common/fonts/custom/vitesse-black.woff') format('woff'),
    url('../common/fonts/custom/vitesse-black.ttf') format('truetype'),
    url('../common/fonts/custom/vitesse-black.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse-Bold';
    src: url('../common/fonts/custom/Vitesse-Bold.eot');
    src: url('../common/fonts/custom/Vitesse-Bold.eot?#iefix') format('embedded-opentype'),
    /*url('../common/fonts/custom/Vitesse-Bold.woff2') format('woff2'),*/
    url('../common/fonts/custom/Vitesse-Bold.woff') format('woff'),
    url('../common/fonts/custom/Vitesse-Bold.ttf') format('truetype'),
    url('../common/fonts/custom/Vitesse-Bold.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse-Book';
    src: url('../common/fonts/custom/Vitesse-Book.eot');
    src: url('../common/fonts/custom/Vitesse-Book.eot?#iefix') format('embedded-opentype'),
    /*url('../common/fonts/custom/Vitesse-Book.woff2') format('woff2'),*/
    url('../common/fonts/custom/Vitesse-Book.woff') format('woff'),
    url('../common/fonts/custom/Vitesse-Book.ttf') format('truetype'),
    url('../common/fonts/custom/Vitesse-Book.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
*   Roboto Font Family
*/

@font-face {
    font-family: 'robotoregular';
    src: url('../common/fonts/custom/roboto-regular-webfont.eot');
    src: url('../common/fonts/custom/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/roboto-regular-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/roboto-regular-webfont.woff') format('woff'),
    url('../common/fonts/custom/roboto-regular-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../common/fonts/custom/roboto-bold-webfont.eot');
    src: url('../common/fonts/custom/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/roboto-bold-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/roboto-bold-webfont.woff') format('woff'),
    url('../common/fonts/custom/roboto-bold-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../common/fonts/custom/roboto-black-webfont.eot');
    src: url('../common/fonts/custom/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/roboto-black-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/roboto-black-webfont.woff') format('woff'),
    url('../common/fonts/custom/roboto-black-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('../common/fonts/custom/roboto-blackitalic-webfont.eot');
    src: url('../common/fonts/custom/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/roboto-blackitalic-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/roboto-blackitalic-webfont.woff') format('woff'),
    url('../common/fonts/custom/roboto-blackitalic-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../common/fonts/custom/robotocondensed-regular-webfont.eot');
    src: url('../common/fonts/custom/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotocondensed-regular-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../common/fonts/custom/robotocondensed-light-webfont.eot');
    src: url('../common/fonts/custom/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotocondensed-light-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotocondensed-light-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotocondensed-light-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../common/fonts/custom/robotocondensed-lightitalic-webfont.eot');
    src: url('../common/fonts/custom/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotocondensed-lightitalic-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../common/fonts/custom/robotocondensed-italic-webfont.eot');
    src: url('../common/fonts/custom/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotocondensed-italic-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotocondensed-italic-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotocondensed-italic-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../common/fonts/custom/robotocondensed-bolditalic-webfont.eot');
    src: url('../common/fonts/custom/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotocondensed-bolditalic-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../common/fonts/custom/robotocondensed-bold-webfont.eot');
    src: url('../common/fonts/custom/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotocondensed-bold-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotocondensed-bold-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../common/fonts/custom/robotoslab-bold-webfont.eot');
    src: url('../common/fonts/custom/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotoslab-bold-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotoslab-bold-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotoslab-bold-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slablight';
    src: url('../common/fonts/custom/robotoslab-light-webfont.eot');
    src: url('../common/fonts/custom/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotoslab-light-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotoslab-light-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotoslab-light-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotoslab-light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../common/fonts/custom/robotoslab-regular-webfont.eot');
    src: url('../common/fonts/custom/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotoslab-regular-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotoslab-regular-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotoslab-regular-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabthin';
    src: url('../common/fonts/custom/robotoslab-thin-webfont.eot');
    src: url('../common/fonts/custom/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/custom/robotoslab-thin-webfont.woff2') format('woff2'),
    url('../common/fonts/custom/robotoslab-thin-webfont.woff') format('woff'),
    url('../common/fonts/custom/robotoslab-thin-webfont.ttf') format('truetype'),
    url('../common/fonts/custom/robotoslab-thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
