
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    .ellipsis:after{
        float:none;
    }
    .front .views-slideshow-controls-bottom{
        bottom:-30px;

    }
    .front .view-slideshow{
        margin-bottom: 20px;
    }
    .page-node-5 .row > .container.page-content{
        padding-top:25px;
    }
    .exhibition:nth-child(2n+1){
        clear:left;
    }
    .nav > li > .active{
        background-color:#E4C842;
    }
    /*.page-content{padding-left:20px;} */
    .region-homepage-advertisement {
        /*margin-left:20px;*/
    }
    .page-content p{
        margin-bottom:0;
    }
    .home-twitter-timeline { padding: 0 !important; }
    .page-content p { margin-bottom:0; }
    .mcny-carousel .carousel-information .detail .title{
        line-height: 20px;
    }

    .page-content-connect .quiz-container .questions-container { margin-bottom: 35px !important; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    .ribbon{
        display: block !important;
    }
    .announcement .btn-lessons{
        border:0px solid #fff !important;
        width: 123px;
        margin-right:13px;
    }
    .bx-wrapper{
        max-width: none !important;
    }
    .hide_large{
        display:none !important;
    }
    .main-menu-container .logo-margin{
        margin-right: 39px;
    }
    #main-menu{
        margin-left:24px;
    }
    .region-homepage-twitter-updates .content{
        text-align: left;
    }
    .logo-section{
        width: 285px;
    }
    .home-twitter-timeline { padding: 0 20px!important; }
    .blog-sidebar-container .blog-feeds{
        max-height: 570px;
        overflow-y: scroll;
    }

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    .sub-heading{
        vertical-align:top;
        margin-top:30px;
        display:inline-block;
        font-family: "robotoregular", "Vitesse-Book", "Oswald", "sans-serif";
        font-style: italic;
        color:#000;
    }
    .left-heading.sub-heading{
        margin-left:27%;
    }
    .right-heading.sub-heading{
        margin-left:25px;
    }
    .case-study-content #case-study-content-short,.page-node-5.node-type-page .field-type-text-with-summary{
        padding-left: 50px;
    }
    .home-twitter-timeline {
        padding-left:5px;
    }
    .home-twitter-timeline #twitter-widget-0 {
        width: 100% !important;
    }
    .page-content-connect .quiz-container .quiz-button-container {
        margin-left:5px;
    }
    /**
     * Time Line
     */
    .timeline-padding-last{
        padding-bottom:50px !important;
    }
    .item-row {
        overflow: hidden;
        height: auto !important;
        padding-bottom:20px;
    }
    .item-a {
        min-height: 20px;
        height: 100% !important;
    }
    .item-b p {
        width: auto!important;
    }
    .item-b p span.description {
        width: 465px !important;
        float: right;
    }
    .timeline-item {
        max-width: 550px !important;
    }
    .item-a span.description {
        width: 440px;
        max-width: none !important;
        display: inline-block;
        text-align: right;
    }
    .case-study-content > .col-lg-9,.page-content > .col-lg-9 {
        /*padding:0 35px;*/
    }
    .logo-text img {
        width:162px;
    }
    .announcement{
        width: 275px;
        float:right;
        margin-right:10px !important;
    }
    .case-study-content .announcement{
        width: 220px;
    }
    .front .announcement{
        margin-right: 32px;
    }
    .front .page-content-sidebar{
        width: 780px;
    }
    .navigation #main-menu{
        padding-left:35px;
    }
    .main-menu-container .social-links{
        width:155px;
    }
    .social-items ul{
        margin-right:25px !important;
    }
    .exhibition .col-lg-12{
        width:550px;
    }
    .exhibition-container .exhibition:nth-child(2n) .col-lg-12{
        padding-left:0;
    }
    .region-footer-copyright .content > p:first-child{
        float:left;
        margin-right:48px;
    }

    .page-content-connect .quiz-wrapper {  }
    .page-content-connect .quiz-container .quiz-button-container { margin-top: 69px; }

    .page-content > .col-lg-12, .page-content > .col-lg-9{
        /*padding:0 30px !important;*/
    }
    .page-content > .col-lg-9{
        width:910px;
    }
    .front .page-content > .col-lg-9{
        width:810px;
    }
    .exhibition > div{
        padding-left:0;
    }
    /**
     * Connect Page
     */
    .leftSide-connect{
        width:707px;
    }
    .rightSide-connect{
        width:400px;
    }

    .class-room-page .page-description { max-width: 820px; }
    .student-program-page .page-description { max-width: 820px; }
    .professional-program-page .page-description { max-width: 820px; }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    /*
    #bxslider-activists img{
        box-shadow: 0 6px 10px -2px #ccc;
        -webkit-box-shadow: 0 6px 10px -2px #ccc;
        -moz-box-shadow: 0 6px 10px -2px #ccc;
    }
    */
    .advertisement-tweet-container{
        padding:0 15px;
    }
    /**
     * Timeline design responsive
     */
    .timeline-small .timeline-row{
        clear: both;
    }
    .timeline-small .seprator{
        left: 0 !important;
        top:0 !important;
        position: static !important;
        margin-left: 50px !important;
    }
    .timeline-small .sep-top{
        margin: 0 !important;
        width: 16px !important;
    }
    .timeline-small .sep-bottom{
        margin:0 0 0 6px !important;
        height: 45px !important;
    }
    .timeline-small .item-a{
        padding-left: 0 !important;
        width: 50px;
        padding-right:5px;
        margin-right:6px;
        min-height: 25px;
    }
    .timeline-small .item-a span.date-display-single{
        margin-left: 0 !important;
    }
    .timeline-small .item-b{
        width: 90%;
        border-left:3px solid #271A20;
        padding-bottom:25px;
        padding-left:10px;
    }
    .leftSide-connect { margin-bottom: 2em; }

}
@media only screen and (min-width: 1025px){
    .exhibition-post .image{
        min-height:85px;
    }
    #twitter-widget-0{
        max-width: none !important;
        width: 400px !important;
    }
    #mcny-modal .modal-lg{
        width: 1018px !important;
    }
    .bx-wrapper{
        max-width: 1000px !important;
    }
    .bxslider li{
        margin-right:25px;
    }
    .page-content-connect .quiz-wrapper { max-width: 708px; }
    .objects-slides{
        padding:0 !important;
    }
}
@media only screen and (min-width: 1025px) and (max-width : 1200px){
    /**
     * Popups Styles
     */
    .exhibition .category-description { height: 100% !important; }
    .page-content{padding-left:20px;}
    .truncate{
        width:185px !important;
    }
    .bx-wrapper{
        max-width: 870px !important;
        margin:0 25px !important;
    }
}
@media only screen and (min-width: 1024px) and (max-width : 1200px){
    .case-study-content #case-study-content-short,.page-node-5.node-type-page .field-type-text-with-summary{
        padding-left: 5px;
    }
}
@media only screen and (min-width: 992px) and (max-width : 1200px){
    .test-knowledge-overlay-container .content .img-responsive{
        height:300px;
    }
    .advertisement-tweet-container .text-knowledge-container{
        padding-left:0 !important;
    }
    .main-menu-container .navigation{
        width: 685px;
    }
    .page-content-connect .quiz-container .connect-advertise-image .advertised-text-overlap .desc{
        line-height: 48px !important;
    }
    .page-content-connect .quiz-container{
        max-width: 580px !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information{
        max-width: 120px !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information .feed-description{
        margin-bottom:10px !important;
    }
    .footer .links{
        padding-left:15px !important;
    }
    .footer .links ul{
        margin: 0 auto 10px auto !important;
        width: 165px;
    }
    .footer .links ul li{
        margin-right:10px !important;
    }
    .footer .links ul li:last-child{
        margin-right:0 !important;
    }
    .footer .description{
        font-size:12px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px){
    .page-content-connect .quiz-container .quiz-button-container{
        margin-left: 15px !important;
    }
    /**
     * Popups Styles
     */
    .modal-lg{
        width:900px !important;
    }
    .mcny-carousel .carousel-information .detail .image {
        margin-right: 10px !important;
    }
    /* .mcny-carousel .carousel-information .detail .text-container { max-width: 270px !important; } */
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
    .ribbon-mobile {
        padding: 10px 15px !important;
        overflow: hidden;
    }
    .ribbon-data{
        float: left;
        font-size: 13px;
        color:#000 !important;
    }
    .ribbon-data .node-date{
        text-transform: capitalize;
    }
    .btn-lessons{
        width:125px;
        font-size: 14px;
        font-weight: normal;
        color:#000;
        padding:3px 5px 5px 5px;
        margin-right:10px;
    }

    .bx-controls{
        display:none !important;
    }
    .breadcrumb .btn-breadcrumb{
        min-width:140px !important;
        margin-bottom: 5px;
    }
    .mcny-modal-information .text{
        max-width: none !important;
    }
    .case-study-activists > .col-lg-12{
        padding:0;
    }
    .homepage-conversation-image{
        position: relative;
        max-width:540px;
        margin:0 auto;
    }
    .region-homepage-advertisement{
        margin-bottom:20px;
    }
    iframe#twitter-widget-0{
        width:100% !important;
        max-width:100% !important;
    }
    .footer .description p{
        clear:both;
        text-align: center;
    }
    .footer .region-footer-copyright .content p{
        text-align: center;
    }
    .footer .links ul{
        margin-right:25px !important;
    }
}

@media only screen and (max-width : 1024px){

    .bxslider li{
        margin-right:15px;
    }

    .exhibition-categories-container { padding: 0 !important; }
    .exhibition-post .ribbon {
        font-size: 11px !important;
        top: 4px !important;
        padding: 5px 5px 0 10px !important;
        background-color: #fff !important;
    }

    .breadcrumb .active-page-title-margin {
        margin-bottom: 10px !important;
    }

    /**
    * Connect Page fix iphone
    */
    .page-content-connect .quiz-container .questions-container .question-options .option .opt-desc {
        vertical-align: bottom;
    }

    .page-content-connect .desc input[type=radio]{
        margin-top:5px !important;
    }

    .case-study-content > .col-lg-9, .page-content > .col-lg-9,.case-study-content > .col-lg-12, .custom-alignment {
        /*padding:0 35px !important;*/
    }
    .grayscale-only{
        -webkit-filter: grayscale(0) !important;
        filter: grayscale(0) !important;
    }
    .footer{
        /*margin:0 20px !important;*/
    }

    /**
    *   Connect Quiz Page
    */
    .page-content-connect .quiz-container .connect-response-image {
        background-repeat: no-repeat;
        background-size: contain !important;
        background-position: 40px bottom !important;
    }
    .page-content-connect .quiz-container .connect-response-image .score-message .title {
        font-size: 20px !important;
    }
    .page-content-connect .quiz-container .connect-response-image .score-message .desc  {
        font-size: 12px !important;
    }

    /**
    *   Class Room Page
    */
    .class-room-page .category { margin-bottom: 2em !important; max-width: 100% !important; }

    .class-room-page .category:nth-last-child(-n+2) { margin-bottom: 2em !important; }
    .class-room-page .category:nth-child(2n) { margin-bottom: 2em !important; }

    .class-room-page .category-title { line-height: 25px !important; }
    .class-room-page .category-image>img { width: 100% !important; }

    .professional-program-page .programs-container .program .information .details-link a:hover { color: #000 !important; }

    .lesson-plans-detail-container { padding-left: 15px !important; }
    .lesson-plans-detail-container .lesson-plan-posts .post .information { max-width: 430px !important; }
}

@media only screen and (min-width: 768px) and (max-width : 992px){
    .bx-wrapper{
        margin:0 !important;
    }
    #block-mcny-modal-mcny-modal-meet-activists h2, #block-mcny-objects-mcny-objects-images h2{
        padding:0;
    }
    /** Header **/
    .logo-margin{
        margin-right:8px;
    }
    .logo-section{
        width: 250px;
    }
    .main-menu-container .navigation{
        max-width: 500px;
    }
    #main-menu{
        padding-left: 10px;
        padding-right:10px !important;
    }
    #main-menu .nav > li > a{
        font-size: 12px;
        min-width: 55px;
    }
    .nav > li{
        margin-right:5px !important;
    }
    .nav > li:last-child{
        margin-right:0 !important;
    }
    .social-items ul li:last-child{
        margin-right:0 !important;
    }
    /** Header **/
    /**
    * Popup responsive fix
    */
    .mcny-modal-image>img{
        height: auto !important;
        width: 100% !important;
        max-width: 225px;
    }
    .mcny-modal-information{
        max-width: 260px !important;
    }
    .modal-content .modal-body{
        padding:36px 55px 52px 55px !important;
    }
    .exhibition{
        /*padding:0 20px;*/
    }
    .truncate{
        width:160px !important;
    }
    .text-knowledge-container { padding: 0 !important; }

    .navbar-nav > li > a{
        padding-left:5px !important;
        padding-right:5px !important;
    }
    .front iframe#twitter-widget-0 .timeline {
        max-width: 100% !important;
    }
    .region-homepage-twitter-updates iframe{
        max-width:100% !important;
    }
    .footer{
        height: auto !important;
    }
    .footer .links ul{
        margin: 0 auto 10px auto !important;
        width: 165px;
        float:none !important;
    }
    .footer .links ul li{
        margin-right:10px !important;
    }
    .footer .links ul li:last-child{
        margin-right:0 !important;
    }
    .exhibition .exhibition-post{
        max-width: 158px !important;
    }
    .exhibition .exhibition-post:nth-child(4n){
        margin-right:0 !important;
    }
    .mcny-carousel .carousel-information .detail .image {
        margin-right: 10px !important;
    }
    /* .mcny-carousel .carousel-information .detail .text-container { max-width: 270px !important; } */
}
@media only screen and (min-width: 768px) and (max-width : 991px){
    /**
     * Connect Page
     */
    .test-knowledge-overlay-container{
        max-width: none !important;
        margin: 0 !important;
    }
    .test-knowledge-overlay-container .text-overlay{
        padding-top: 10em;
    }
    .page-content-connect{
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .page-content-connect .quiz-container{
        max-width: none !important;
    }
    .test-knowledge-overlay-container img, .connect-advertise-image img{
        width: 100%;
    }
    .advertisement-tweet-container{
        padding-left:15px;
        padding-right:15px;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information{
        width: 75%;
        float: left;
        max-width: 530px !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information .feed-description{
        max-height: 75px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    /**
    * Connect Page fix iphone
    */
    .page-content-connect .desc input[type=radio]:not(*:root) {
        margin-top:4px !important;
    }
    /**
    *   Slide show pager bottom
    */
    .views_slideshow_pager_field { display: block !important; }
    .views-slideshow-controls-text { display: none !important; }
    .navbar-header .search-button{
        max-width: 52px;
        float: right;
        margin-right: 1em;
        margin-top:5px;
    }

    .exhibition-timeline {
        min-height: 100% !important;
        padding-bottom: 50px;
    }

    /**
    *   Breadcrumb
    */
    .breadcrumb .active { max-width: 580px; }
    .breadcrumb { max-height: 100% !important; }
    .btn-breadcrumb { padding: 4px 10px 10px 10px !important; }
    .region-homepage-advertisement{margin-bottom:20px;}
    .region-homepage-advertisement img { width: 100%; }

    .breadcrumb .active-page-title-with-label {
        max-width: 600px !important;
    }

    /**
     * Homepage
    */
    .social-items ul li:last-child{
        margin-right:15px !important;
    }
    .heading-larger p{
        font-size:6vw;
    }

    /**
     * Case Study
     */
    .block-mcny-modal h2, .block-mcny-objects > h2{
        padding:0;
    }
    .case-study-breadcrumb .ribbon{
        padding-left: 115px !important;
    }
    .exhibition-breadcrumb .active.active-page-title-margin {
        line-height: 4vw;
    }
    .bx-pager{
        display:block !important;
    }
    .bx-controls-direction{
        display: none !important;
    }

    /**
    *   Class Room
    */
    .class-room-page .category:nth-child(2n) { padding-left: 0 !important; }
    .class-room-page .category:nth-child(2n+1) { padding-right: 0 !important; }

    .lesson-plans .categories { max-width: 100% !important; margin-bottom: 2em; }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    .bx-wrapper{
        margin:0 !important;
    }
    /**
    * Timeline
    */
    .timeline-small .item-b {
        width:84%;
    }
    .timeline-data {
        /* max-width: 350px !important; */
    }
    .slider-activist-name:not(*:root){
        font-size: 18px !important;
        margin-top: 10px;
    }
    .test-knowledge-overlay-container{
        max-width: none !important;
    }
    .mcny-carousel .carousel-information .heading{
        margin-top:5px;
    }
    .mcny-carousel .carousel-information .detail{
        margin-top:10px !important;
    }
    .views_slideshow_cycle2_main{
        padding-bottom: 25px;
    }
    .case-study-content{
        padding-top: 25px !important;
    }
    .exhibition-container{
        padding-top:25px !important;
    }
    .advertisement-tweet-container{
        padding:0;
    }
    .mcny-carousel .carousel-information .detail .text-container{
        max-width: none !important;
    }
    .class-rooms-breadcrumb .btn-breadcrumb {
        min-width: 220px !important;
        white-space: normal;
        height: 28px;
    }
    .case-study-breadcrumb{
        overflow: visible;
    }
    /** Slider **/
    .mcny-carousel .carousel-information {
        width: 100% !important;
        min-height: 90px;
        padding: 0 15px !important;
        bottom: 0 !important;
        opacity: 0.8 !important;
        margin: 0;
        position: relative !important;
        height:auto !important;
    }
    /**
     * Banner styles for responsice
     */
    .views-slideshow-controls-bottom{
        bottom:0;
    }
    .carousel-information .detail .image img {
        width: 35px !important;
    }

    .mcny-carousel .carousel-information .detail .image {
        margin-right: 5px !important;
        margin-left: 3px !important;
    }

    .logo-section{
        max-width: 260px;
    }
    .main-menu-container .logo-margin{
        margin-right:10px;
    }
    #main-menu .nav{
        float: none !important;
    }
    /**
     * Connect Page
     */
    .desc .button-container a{
        font-size: 10px !important;
    }
    .option .opt-desc:not(*:root) {
        max-width: 75% !important;
    }

    .blog-sidebar-container .blog-feeds .feed .feed-information {
        max-width: 65% !important;
    }

    .page-content-connect .quiz-container .questions-container .question-options .option .icon .wrong, .page-content-connect .quiz-container .questions-container .question-options .option .icon .correct {
        width: 15px !important;
        height: 15px !important;
        background-size: 15px !important;
    }

    .page-content-connect .quiz-container .questions-container .question .question-text {
        max-width: 90%;
        line-height: 14px;
    }

    .page-content-connect .quiz-container .questions-container .question-options .option .desc {
        line-height: 14px;
        width: 90%;
        max-width: 80%;
        min-height: 16px;
        margin-top: 0 !important;
    }

    .page-content-connect .quiz-container .questions-container .question-options .option .opt-desc {
        display: inline-block;
        max-width: 90%;
    }

    .page-content-connect .quiz-container .questions-container .question-options .option .desc input[type=checkbox], input[type=radio] {
        vertical-align: top;
    }

    .exhibition {
        /*padding: 0 15px;*/
    }

    .case-study-content > .col-lg-9, .page-content > .col-lg-9, .case-study-content > .col-lg-12, .custom-alignment {
        /*padding: 0 30px !important;*/
    }

    .page-content-connect .quiz-container .questions-container {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    /**
     * Mobile Search
     */
    .navbar-header {
        padding-right: 15px;
    }

    #mobile_search_form {
        display: none;
        float: left;
    }

    #search_close {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
    }

    /**
     * Mobile Nav
     */
    .main-menu-container .navbar-toggle {
        color: #000;
    }

    .main-menu-container .navbar-toggle.active {
        color: #e4c842;
    }

    #main-menu-container {
        padding: 0;
    }

    #main-menu {
        text-align: left;
        margin-left: 0 !important;
        padding: 0 !important;
        margin-top: 0 !important;
    }

    .nav > li {
        margin-right: 15px !important;
    }

    .nav > li {
        padding: 5px 0;
    }

    #main-menu .nav > li.dropdown {
        background: url('../images/menu-collapse-ico.png') no-repeat right 16px;
    }

    #main-menu .nav > li.dropdown.open {
        background: url('../images/menu-expand-ico.png') no-repeat right 16px;
    }

    .navbar-nav .caret {
        display: none !important;
    }

    #main-menu .nav > li.dropdown .dropdown-menu li > a {
        font-size: 12px;
    }

    #main-menu .nav > li a {
        text-decoration: none;
    }

    #main-menu .nav > li a {
        font-size: 14px;
        font-family: Oswald, "robotobold", "Vitesse-Book";
        font-weight: normal;
        display: block;
        text-align: left;
    }

    .social-links {
        padding: 1.5em 0 1.5em 0;
    }

    .social-links .heading h2 {
        font-family: "robotoregular", "Vitesse-Book", "Oswald", "sans-serif";
        font-size: 20px;
        font-weight: bold;
        color: #9a9a9a;
        text-transform: uppercase;
        margin: 5px 0 20px 0;
    }

    .navbar-header {
        margin-top: 1em;
    }

    .navbar-header .search-button {
        margin-right: 1em;
        cursor: pointer;
        max-width: 52px;
        float: right;
    }

    .navbar-header .search-button:hover {
        color: #e4c842;
    }

    .navbar-nav {
        margin: 1em 0 0 5px !important;
    }

    .navbar-nav > li > a {
        padding-left: 0 !important;
    }

    .nav > li {
        border-top: 1px solid #e5e5e5 !important;
        clear: both;
    }

    .nav > li:last-child {
        border-bottom: 1px solid #e5e5e5 !important;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: underline;
        background-color: transparent !important;
    }

    .nav .open > a {
        padding-bottom: 0 !important;
    }

    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        background-color: transparent !important;
    }

    .navbar-nav .open .dropdown-menu {
        font-family: "Vitesse-Book", "Oswald", "sans-serif" !important;
        clear: both;
        width: 100% !important;
        padding: 0;
        margin: 0 !important;
    }

    .navbar-nav .open .dropdown-menu > li {
        width: 50%;
        height: auto;
        float: left;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 0;
    }

    .navbar-nav .open .dropdown-menu > li:first-child {
        margin-top: 0 !important;
    }

    .navbar-nav .open .dropdown-menu > li:last-child {
        margin-bottom: 0 !important;
    }

    .dropdown-menu > li:hover {
        background-color: transparent !important;
    }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        color: #000 !important;
        text-decoration: underline;
    }

    .btn-share {
        /*margin-left: 15px !important;*/
    }

    /**
     * Internal pages
     */
    .breadcrumb {
        min-height: 85px !important;
    }

    .exhibition-container .exhibition .exhibition-post {
        margin-bottom: 30px !important;
    }

    /**
     * Footer
    */
    .footer {
        /*margin: 0 15px !important;*/
        height: auto !important;
    }

    .footer .links ul {
        margin: 0 auto 10px auto !important;
        width: 210px;
        float: none !important;
    }

    .footer .links p {
        clear: both;
        margin-bottom: 0;
        text-align: center;
    }

    .footer .description {
        text-align: center;
    }

    .student-program-page .programs-container .program .information { padding: 0; margin-top: 1em; }
    .professional-program-page .programs-container .program .information { padding: 0; margin-top: 1em; }
}

/* For all Small, Extra Small and Medium Devices */
@media only screen and (max-width : 736px) {
    /**
    *   Exhibitions
    */
    .exhibition { margin-bottom: 20px !important; }
    /*.exhibition .exhibition-post { max-width: 100% !important;  }*/
    .exhibition .category-name { font-size: 20px !important; max-width: 190px !important; }

    .case-study-activists .activists-slides-container .image img { max-width: 100% !important; }
    .case-study-activists .activists-container { margin-top: 0 !important; }

    .exhibition-breadcrumb { padding-top: 7.5em !important; }
    .case-study-breadcrumb{
        padding-top:10px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    .search-field{
        padding-right:10px !important;
    }
    .logo-margin img{
        height:50px;
    }
    .logo-text img{
        height: 35px;
    }
    /*.breadcrumb .breadcrumb-navigation { max-width: 360px; width:80%; }*/
    .case-study-breadcrumb .ribbon {
        right: -30px  !important;
        width: 140px !important;
        padding-left: 25px !important;
        -webkit-transform: rotate(36deg) !important;
        -moz-transform: rotate(36deg) !important;
        -ms-transform: rotate(36deg) !important;
        -o-transform: rotate(36deg) !important;
        transform: rotate(36deg) !important;
    }
    .case-study-breadcrumb .ribbon .node-label { font-size: 10px !important; }
    .case-study-breadcrumb .ribbon .node-date { font-size: 10px !important; }


    .exhibition-breadcrumb { padding-top: 15px !important; }
    .exhibition-breadcrumb .active { margin-bottom: 5px !important; }
    .exhibition-breadcrumb .page-category { margin-bottom: 3px !important; }
    .exhibition-breadcrumb select { height: 30px; }

    /**
     * Connect Page
     */
    #connect_more {
        font-size: 16px !important;
        min-height: 100% !important;
    }
    .blog-sidebar-container .header .caption{
        font-size: 5vw !important;
    }
    .page-content-connect .quiz-container .questions-container .question .number{
        font-size: 14px !important;
        margin-right:10px !important;
        width:13px;
    }
    .page-content-connect .quiz-container .questions-container .question-options .option .icon{
        margin-right:5px !important;
        width: 20px !important;
    }
    .page-content-connect .quiz-container .questions-container .question-options .option{
        margin-bottom:5px !important;
    }
    .page-content-connect .quiz-container .questions-container .question, .page-content-connect .quiz-container .questions-container .question-options{
        font-size:11px !important;
        line-height: 12px !important;
    }
    .page-content-connect .quiz-container .questions-container .alert{
        line-height: 18px;
        font-size: 11px !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-image{
        margin-right:10px !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-image img{
        width: 100px !important;
        min-height: 100px;
        height: auto !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information{
        max-width: 60% !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information .feed-description{
        margin-top:5px !important;
        margin-bottom: 5px !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information .btn-more{
        font-size:11px;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information .feed-title{
        font-size:3.5vw !important;
    }
    .blog-sidebar-container .blog-feeds .feed .feed-information .feed-date{
        font-size:12px;
    }

    .block-mcny-modal h2, .block-mcny-objects > h2{
        padding:0 !important;
    }
    .exhibition-breadcrumb .active.active-page-title-margin{
        line-height: 5.5vw;
    }
    .exhibition .category-description{
        min-height:90px;
        height: auto !important;
    }
    .text-overlay { width: 135px !important; padding-top: 2em !important; }
    .text-overlay .title { font-size: 24px !important;; }
    .text-overlay .description { font-size: 15px !important; }
    .page-content-connect .quiz-container .connect-advertise-image .advertised-text-overlap .desc{
        line-height: 20px !important;
    }

    /**
    *   Slide show, Banner, Carousel
    */
    .mcny-carousel .carousel-information {
        width: 100% !important;
        min-height: 85px;
        height: auto !important;
        padding: 1px 12px !important;
        bottom: 0 !important;
        opacity: 0.8 !important;
        margin: 0;
        position: relative !important;
    }
    .mcny-carousel .carousel-information .heading { font-size: 16px !important; margin-top: 0; margin-left: 2px; }
    .mcny-carousel .carousel-information .detail { margin-top: 0 !important; }
    .mcny-carousel .carousel-information .detail .image {
        font-size: 15px !important;
        margin-right: 15px;
        padding-top: 15px;
    }
    .mcny-carousel .carousel-information .detail .text-container { width: 90% !important; }
    .mcny-carousel .carousel-information .detail .title { font-size: 13px !important; }
    .mcny-carousel .carousel-information .detail .description { font-size: 10px !important; font-weight: normal !important; }
    .carousel-information .detail .image img {
        width: 20px !important;
    }

    /**
    *   Slide show controls bottom
    */
    .views-slideshow-controls-text-next {  right: 0 !important; top: 45% !important; z-index: 1000; }
    .views-slideshow-controls-text-previous {  left: 0 !important; top: 45% !important; z-index: 1000; }

    .breadcrumb-buttons-container .pull-right { float: none !important; }
    .breadcrumb .btn-breadcrumb {
        width: 145px !important;
    }

    /**
     * Footer
     */
    .footer .links{
        padding:0 5px !important;
    }
    .footer .links ul{
        width: auto !important;
    }
    .footer .links ul li{
        margin-right: 15px !important;
        display: inline-block !important;
        float:none !important;
    }
    .footer .links ul li:last-child{
        margin-right: 0 !important;
    }
    .footer .description{
        font-size:12px;
    }
    .breadcrumb .active{
        font-size:20px !important;
    }
    .breadcrumb .exhibition-title{
        font-size:20px !important;
    }
    .breadcrumb-buttons-container .btn-breadcrumb{
        font-size:14px !important;
        text-align: left;
    }

    .page-content-connect .quiz-container .connect-advertise-image .advertised-text-overlap .desc {
        font-size: 14px !important;
        margin-bottom: 5px !important;
    }
    .page-content-connect .quiz-container .connect-advertise-image .advertised-text-overlap .button-container a {
        font-size: 11px !important;
        padding:5px 10px;
    }

    /**
    *   Student Program Page
    */
    .student-program-page .programs-container .program .information { padding: 0; margin-top: 1em; }
    .student-program-page .programs-container .program .image { width: 100%; max-width: 100% !important; }
    .student-program-page .programs-container .program .image>img { width: 100% !important; }

    /**
    *   Lesson Plans
    */
    .lesson-plans-detail-container { padding: 0 !important; }
    .lesson-plans-detail-container .lesson-plan-posts .post .image { margin-bottom: 10px; }

    .ribbon-data{
        font-size: 12px !important;
    }
    .btn-lessons{
        width: 90px !important;
        font-size: 11px !important;
        height: 22px !important;
        font-weight: normal;
        color: #000;
        padding: 3px 0px 0px 0px !important;
        margin-right: 0 !important;
    }

}

/* ====== Custom/Exceptional Cases ====== */

@media only screen and (min-width : 480px) and (max-width: 800px) {
    .views-slideshow-controls-text-next {  right: 0 !important; top: 45% !important; z-index: 1000; }
    .views-slideshow-controls-text-previous {  left: 0 !important; top: 45% !important; z-index: 1000; }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

    .mcny-carousel .carousel-information .detail { margin-top: 0 !important; }

    .case-study-activists { padding: 0 !important; }

    .breadcrumb .breadcrumb-navigation { max-width: 220px; }
}

@media only screen and (max-width : 430px){
    .exhibition .exhibition-post { max-width: 100% !important; height: auto !important; }
    .footer .links p{
        font-size:11px !important;
    }
    /**
     * Timeline
     */
    .timeline-small .item-b{
        width:75%;
    }
    .item-b span.date-display-single{
        margin-right:10px !important;
    }
    .exhibition-timeline .timeline-container .description{
        display: inline-block;
        width: 70%;
    }
    /**
     * Twitter widget fixes
     */
    .twitter-timeline-head{
        height:25px !important;
        padding-top:0 !important;
    }
    .twitter-timeline-head h2{
        font-size:16px !important;
    }
    .twitter-timeline-head .hash-btn{
        padding:0 5px !important;
        width:85px !important;
        height:20px !important;
        margin-top: 2px;
    }
    .twitter-timeline-head .hash-btn .fa-twitter{
        font-size:1em;
    }
    .twitter-timeline-head .hash-btn .btn-txt{
        font-size:10px !important;
        vertical-align: text-top !important;
    }
}

/* iPhone 5 Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation : landscape){


    .mcny-carousel .carousel-information { bottom: 10px !important; }
    .student-program-page .programs-container .program .information { padding: 0; margin-top: 1em; }

    /**
    *   Slide show, Banner, Carousel
    */
    .mcny-carousel .carousel-information {
        width: 100% !important;
        min-height: 65px;
        height: 78px !important;
        padding: 1px 15px !important;
        bottom: 0 !important;
        opacity: 0.8 !important;
        margin: 0;
        position: relative !important;
    }
    .mcny-carousel .carousel-information .heading { font-size: 16px !important; margin-top: 0; margin-left: 2px; }
    .mcny-carousel .carousel-information .detail { margin-top: 0 !important; }
    .mcny-carousel .carousel-information .detail .image {
        font-size: 15px !important;
        margin-right: 15px;
        padding-top: 15px;
    }
    .mcny-carousel .carousel-information .detail .text-container { width: 90% !important; }
    .mcny-carousel .carousel-information .detail .title { font-size: 13px !important; }
    .mcny-carousel .carousel-information .detail .description { font-size: 10px !important; font-weight: normal !important; }
    .carousel-information .detail .image img {
        width: 20px !important;
    }

}

/* iPhone 4 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation: landscape) {
    .mcny-carousel .carousel-information { bottom: 0 !important; }
    .page-content-connect .quiz-container .connect-advertise-image .advertised-text-overlap{
        top:40% !important;
    }
    .btn-lessons{
        width: 125px !important;
        font-size: 14px !important;
        color: #000;
        padding: 3px 5px 5px 5px !important;
        margin-right: 10px !important;
        height:28px !important;
    }
}
/* Ipad Landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .bx-controls{
        display:none !important;
    }
}